@import '../../scss/variables/variables';

.loader {
  display: flex;
  justify-content: center;
  padding: 40px;
  svg {
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
