@import '../../scss/variables/variables';

$gap: 20px;
$gapTablet: 16px;
$gapLaptop: 29px;

.cards {
  padding: 140px 0 40px;
}
.cards__cards-wrap {
  margin: 50px auto 0;
  display: grid;
  max-width: 500px;
  gap: $gap;
  @media (min-width: $tabletBreakpoint) {
    max-width: unset;
    gap: $gapTablet;
    $minmax: calc(calc(100% - $gapTablet * 2) / 3);
    grid-template-columns: repeat(2, minmax($minmax, 1fr));
  }
  @media (min-width: $laptopBreakpoint) {
    gap: $gapLaptop;
    $minmax: calc(calc(100% - $gapLaptop * 2) / 3);
    grid-template-columns: repeat(3, minmax($minmax, 1fr));
  }
}
.cards__button-wrap {
  margin-top: 50px;
  text-align: center;
}
.cards__error {
  text-align: center;
}
