@import '../../scss/variables/variables';

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $color-white;
  padding: 13px 0;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__buttons {
  display: flex;
  gap: 10px;
}
