$color-black: #000;
$color-white: #fff;

$color-text: rgba(0, 0, 0, 0.87);

$color-primary: #F4E041;
$color-primary-bright: #FFE302;

$color-secondary: #00BDD3;

$color-grey-400: #7E7E7E;
$color-grey-300: #B4B4B4;
$color-grey-200: #D0CFCF;
$color-grey-100: #F8F8F8;

$color-red: #CB3D40;
